---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Quotes';
const description = 'Latest quotes.';
const permalink = `${Astro.site.href}quotes`;

const quoteFiles = import.meta.glob('../../data/quotes/*.md', { eager: true });
const quotes = Object.values(quoteFiles);
---

<BaseLayout title={title} description={description} permalink={permalink} current="quotes">
  <div class="container">
    <h1>Quotes</h1>
    {quotes.map((quote, i) => (
        <article class="prose max-w-none">
            <h2>{quote.frontmatter.title}</h2>
            <p class="quote-item-date">{quote.frontmatter.publishDate}</p>
          <quote.default />
          <footer class="quote-item-footer">— {quote.frontmatter.source}</footer>
        </article>
              <hr/>
      ))}
  </div>
</BaseLayout>

<style>
  h2,
  .quote-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .quote-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
